<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b62242aa-ddae-49a1-bed8-48100c9b0353" name="Customers Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="b62242aa-ddae-49a1-bed8-48100c9b0353fileName">Customers-Suite</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
