<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="905039b4-fc85-42f2-aa6b-9e9f20f78dd1" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://api.stripe.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="905039b4-fc85-42f2-aa6b-9e9f20f78dd1fileName">https%3A%2F%2Fapi.stripe.com</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://api.stripe.com</con:endpoint>
  </con:endpoints>
</con:interface>
